{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

<div>
    <img class="photo" src="{% static 'img/ws1.jpeg' %}" alt="">
</div>

<div>
    <video width="530" height="440" controls autoplay>
        <source src="{% static 'media/ws2.mp4' %}" type="video/mp4">
    </video>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{post.published_date}}</p>
                    </div>
                    <h1><a href="">{{post.title}}</a></h1>
                    <p>{{post.text|linebreaksbr}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}